// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$text-color: #E8E8E8;
/* $grey-color: grey;
$gray-color: $grey-color; */

$card-background: #1B263B;
$navbar-color: #0D1B2A;
$background: #E8E8E8;
$navbar-text: #E8E8E8;
$gradient1: red;
$gradient2: blue;
$search-btn: #297373;
$delete-btn: #A05C7B;
$edit-btn: #39A2AE;
$accept-btn: #297373;
$headings: #0D1B2A;
$call-to-action: $navbar-color;
