<h1>Find your perfect Hiding Space</h1>
<% @listings.each do |listing| %>
  <div class = "list-card">
    <ul>
    <% listing.photos.each do |photo| %>
    <%= cl_image_tag photo.key, alt: "Listing img", height:300, width:400 %>
    <% end %>


    <div class="d-flex justify-content-between px-3 pt-3">
      <p><strong><%= listing.name %></strong> <br> <%= listing.description %></p>
      <p>  <strong><p><%= listing.price %>€</strong></p> </p>
    </div>

    </ul>
  </div>
<% end %>
