<h1>Find your perfect Hiding Space</h1>
<% @listings.each do |listing| %>
  <div class = "list-card">
    <ul>
    <li><%= cl_image_tag listing.image.key, alt: "listing photo" %></li>
    <li><%= listing.name %></li>
    <li><%= listing.description %></li>
    <li><%= listing.price %></li>
    </ul>
  </div>
<% end %>
