// Import page-specific CSS files here.
@import "home";
@import "show_listing";
@import "log_in";

.flex-container {
  display: flex;
  position: relative;
  margin: 0 1%;
}

.map-container {
  display: flex;
}

.container {
  width: 100%;
  margin: 0px 5%;
  position: relative;
  top: 10%;
}


#map {
  position: fixed;
  min-width: 40%;
  overflow-y: hidden;
  right: 1px;
}

.listcardz {
  overflow-y: scroll;
  height: 100vh;
  position: relative;
  top: 190px;
}

.search-bar {
  width: 57%;
  position: fixed;
  top: 82px;
  z-index: 3;
  background-color: #E8E8E8;

  .btn {
    margin: 5px;
  }
}

.left-side {
  width: 60vw;
  position: relative;
}

.now-active {
  border: 5px solid rgb(20, 224, 180);
  background-color: #1b263bdc;
  transform: scale(1.05);
}

.logo {
  width: 50px;
  height: 50px;
}

body {
  position: relative;
}

nav {
  position: fixed;
  width: 100vw;
  z-index: 3;
}
