// Import page-specific CSS files here.
@import "home";

.flex-container {
  display: flex;
  position: relative;
  margin: 0 1%;
}

.map-container {
  display: flex;
}

.container {
  width: 100%;
  margin: 0px 5%;
}

#map {
  position: sticky;
  min-width: 40%;
  overflow-y: hidden;

}

.listcardz {
  overflow-y: scroll;
  height: 100vh;
}

.search-bar {
  width: 100%;
  position: sticky;

  .btn {
    margin: 5px;
  }
}

.left-side {
  width: 100%;
}
