<div class="container">
  <div class="row">
    <div class="col">

      <div class="card">
        <img src="https://picsum.photos/300/300" alt="" class="cardimg">
          <div class="card-text">
            <div class="d-flex justify-content-between px-3 pt-3">
              <p><strong>Location, State </strong><br> Guest or something <br> 13-18 oct <br><br> <strong>104€</strong> per night </p>
              <p> &#9733; Rating </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
