<div class="container">
  <nav class="navbar bg-warning fixed-top">
      <a class="navbar-brand" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Airbnb_Logo_B%C3%A9lo.svg" alt="" width="" height="30">
      </a>
  </nav>

<div class="row">
  <div class="col bg-warning">col</div>
  <div class="col">col</div>
  <div class="col bg-warning">col</div>
  <div class="col">col</div>
</div>


 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://static.wikia.nocookie.net/narnia/images/6/6e/Wardrobe.jpg/revision/latest?cb=20161029215350" alt="Card image cap">
  <div class="card-body rounded">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
