.button {
 // background: linear-gradient(70deg,  rgba(255, 231, 158, 0),  rgb(255, 216, 98));
  width: 100%;
  padding: 3mm;
  border: 0mm;
  border-radius: 2mm;
  color: $text-color;
  font-weight: bold;
  background-color: $call-to-action;
 // transition: border-radius 0.35s ease-in-out, background-color 0.60 ease-in-out;
}
.button:hover {
 // background-color: rgba(255, 216, 98, 0.25);
}

.light-button {
  border: 1px;
  border-color: black;
  padding: 6px 22px 10px;
  border-radius: 40px;
  background-color: $call-to-action;
  text-decoration: none;
  color: $text-color;
}

.button-text {
  text-decoration: none;
  color: $text-color;

}

.button-text:hover, .light-button:hover {
  font-weight: bolder;
  color: $text-color;
}


.nav-button {

  text-decoration: none;
  color: $navbar-text;
}

.nav-button:hover {
  font-weight: bolder;
  color: $navbar-text;
}
