.list-card {
  border-radius: 10px;
  background: $card-background;
  margin: 10px;
  //width: 100%
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  max-width: 300px;
  min-width: 300px;
  max-height: 400px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}


  .list-card img {
    border-radius: 10px;
    max-width: 300px;
    margin: auto;
}

.show-listing-card {
  margin: auto;
  padding-bottom: 30px;
  img {
    width: max-content;
  }
}

.slc-container {
  width: 50%;
  text-align: left;
}

.index-card {
  padding: 5%;
}



.columnfirst{
  display: flex;
  height: 100%;
  width: 50%;
}

.columnsecond{
  display: flex;
 height: 100%;
 width: 50%;
 min-width: 600px;

}
