// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "form";
@import "button";
@import "card";
@import "map";
@import "address_autocomplete";

body {
  //background: linear-gradient(0deg,  rgb(30, 30, 30),  rgb(45, 45, 45));
  height: 100vh;
  width: 100vw;
  color: black;
}

.listcardz {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

<<<<<<< HEAD
.listcardz {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
=======
.nbs-container {
  width: 95%;
  margin: 0 auto;
>>>>>>> 3ef6073cd90876ba12209fccf583bc7bc73c324c
}
