// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "form";
@import "button";
@import "card";
@import "map";
@import "address_autocomplete";
@import "booking_card";

body {
  //background: linear-gradient(0deg,  rgb(30, 30, 30),  rgb(45, 45, 45));
  height: 100vh;
  width: 100vw;
  color: black;
}

.listcardz {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.nbs-container {
  width: 95%;
  margin: 0 auto;
  display: none;
}
