nav {
  background-color: $navbar-color;
  color: $navbar-text
}

svg path{
  fill: $navbar-text
}

.logo {
  width: 25px;
  fill: $background;

}

.logo-text {
  font-size: large;
  text-decoration: none;
  color: $navbar-text;
  font-weight: bolder;
}

.logo-text:hover {

  text-decoration: none;
  color: $navbar-text;
}
.middle-nav a {
  padding: 15px 30px;
  font-weight: bold;
  font-size: 19px;
}
