.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  width: 25px;
}

.logo-text {
  font-size: large;
  text-decoration: none;
  color: $text-color;
  font-weight: bolder;
}

.logo-text:hover {

  text-decoration: none;
  color: $text-color;

}
